@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-de-fundo: #13141F;
    --cor-do-texto:  #f6f6f6;
    --cor-do-titulo: #D6FE7A;
    --cor-texto-suave: #BDBFAA;
    --tamanho-do-titulo: 36px;
    --tamanho-do-texto: 16px;
    --tamanho-letras-miudas: 12px;
    --fonte-texto: "Anonymous Pro", monospace;
    --fonte-titulo: "Roboto Mono", monospace;
    

}
header{
    background-image: url(./assets/LinkedIn\ Banner\ Templates\ \(Community\)\ \(Copy\).png);
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #D6FE7A;
}
body {
    display: block;
    background-color: var(--cor-de-fundo);
    font-family: var(--cor-do-texto);
    box-sizing: border-box;
}

#btn-mobile {
    display: none;
}

@media (max-width: 4000px) {
    #menu {
      display: block;
      position: absolute;
      width: 10%;
      top: 60px;
      left: 1100px;
      background: #13141F;
     
        font-weight: 900;
       border: 2px solid #D6FE7A;
      transition: 0.5s;
      z-index: 1000;
      height: 0;
      visibility: hidden;
      overflow-y: hidden;
          
    }
  
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px;
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      margin-top: 13%;
      margin-right: 4%;
      border: none;
      border-radius: 10%;
      background: #13141F;
      cursor: pointer;
      gap: 0.5rem;
      color: #D6FE7A;
    }
    #hamburger {
      border-top: 2px solid ;
      width: 20px;
      color: #D6FE7A;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }


  }
.menu-nav {
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 5%;
}

.name__titulo {
    font-family: var(--fonte-titulo);
    font-size: 18px;
    color:var(--cor-do-titulo);
    margin-left: -40%;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    font-weight: 100;

}
.name__titulo:hover {
    color: var(--cor-do-titulo);
    transition: 0.5s;
    transform: scale(1.01);

}
.Logo{
    margin-left: 18%;
    margin-top: 20%;
    border: 2px solid #D6FE7A;
    border-radius: 50%;
}
.name-header {
    font-family: var(--fonte-titulo);
    font-size: 18px;
    color: var(--cor-do-titulo);
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    font-weight: 100;
}

.name-header:hover {
    color: var(--cor-do-titulo);
    transition: 0.5s;
    transform: scale(1.01);
}
.assinatura{
    flex-direction: column;
    margin-left: 80%;
}

.menu-list {
    display: flex;
    background-color: #13141F;
    gap: 5px;
    margin-top: 15%;
    flex-wrap: wrap;
}

.menu-list li {
    list-style: none;
    color: var(--cor-do-texto);  
    margin-right: 1em;  
}

.menu-list li:hover {
    color: var(--cor-do-texto);
    transition: 0.5s;
    transform: scale(1.1);
}
.menu-list a {
    font-family: var(--fonte-titulo);
    text-decoration: none;
    color: var(--cor-do-titulo);
    font-size: 18px;
    font-weight: 200;
}
.menu-list a:hover{
    color:#BF5050;
    font-weight: 600;
    
}

.curriculo {
    font-family: var(--fonte-titulo);
    font-size: 20px;
    color: var(--cor-do-texto);
    margin-left: 37%;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    font-weight: 500;

}

.flip-container {
    width: 300px;
    height: 200px;
    perspective: 1000px;
  }

  .flipper{
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flipper{
	position: relative;
	...
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
.back{
	transform: rotateY(180deg);
}

.flip-container:hover .flipper{
	transform: rotateY(180deg);
	
}

.card-front{
    border: 2px solid #D6FE7A;
    border-radius: 15px;
    width: 300px;
    height: 300px;
}
.card-back{
    border: 2px solid #D6FE7A;
    border-radius: 15px;
    width: 300px;
    height: 300px;
}

.button-card{
 display: inline;
 width: 100px;
 height: 50px;
 margin-bottom: 5%;
 align-items: center;
}
.curriculo:hover {
    color: var(--cor-do-titulo);
    transition: 0.5s;
    transform: scale(1.01);
}


.main-content {
   display: flex;
    width: 95%;
    margin: 3%
}

.main-title {
   
    flex-wrap: wrap;
    color: var(--cor-do-titulo);
    font-size: 60px; 
    font-weight: 400;
    font-family: "Roboto Mono", monospace;
    margin: 0;
    margin-left: 0%;
    text-align: left;

}
.main-title::after{
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

.main-text {
    flex-wrap: wrap;
    font-size: 20px;
    color: var(--cor-texto-suave);
    font-family: var(--fonte-texto);
    width: 50%;
    margin-left: 40%;
    margin-top: 0%;
    
}
.apresentacaoimg {
    width: 300px;
    height: 300px;
    border: 2px solid #D6FE7A;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 0%;
   
}
.apresentacaoimg:hover{
transform: scale(1.1);
transition: 0.5s;
border: 2px solid #D6FE7A;
}
/* section academica */
.academica{
    display: inline-block;
    padding: 2%;
    margin: 20px;
    margin-left: 0%;
    background-color:#13141F;
 
    border-radius: 10%;
    vertical-align: top;
    height: 240px;
    width: 230px;
}
.academica1{
    display: inline-block;
    padding: 2%;
    margin: 20px;
    margin-left: 20%;
    background-color:#13141F;
    border: transparent;
    border-radius: 3%;
    vertical-align: top;
    height: 300px;
    width: 400x;

}
.academica:hover{
    border: transparent;
    transition: 0.5s;
    transform: scale(1.1);
}

.academica1:hover{
    border: 2px transparent;
    transition: 0.5s;
    transform: scale(1.1);
}
.academica-container {
    display: flex;
    align-items: center;
    text-align: center ;
    flex-wrap: wrap;
    gap: 10em;
    margin: 1em 5em 1em 8em;
    justify-content: space-evenly;
}
.academica-image {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    margin-top: 1em;
    background-color: #13141F;
  
    
}
.academica-image:hover{
   
}

.academica-title,
.academica-description {
    font-family: var(--fonte-titulo);
    font-size: 15px;
    color: #D6FE7A;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 600;
  
    width: 250px;
    height: 40px;
    border-radius: 10%;
 

}
.academica-title,
.academica-description:hover{
    color:#BF5050;
    font-weight: 900;
}
.separator {
    
    width: 90vw;
    margin-top: 3em;
}
.skills{
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.skill {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    align-items: center;
    font-weight: 600;
}

.skills-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-left: 25%

}

.fa-brands,
.fa-solid {
   font-size: 2.5em;
   color:#BF5050;
}

.fa-brands:hover,
.fa-solid:hover {
    color: var(--cor-do-titulo);
    transition: 0.5s;
}

.skill-name{
    color: #BF5050;
    font-family: var(--fonte-titulo);
}
.skill-name:hover{
    color: var(--cor-do-titulo);
}
.skill-title {
    text-transform: uppercase;
    font-family: var(--fonte-titulo);
    font-size: 24px;
    color: var(--cor-do-titulo);
    margin:  0.5em 0 1em 6em;
    text-decoration: none;
    font-weight: 400;
}

.skill:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: var(--cor-do-titulo);

}

.section-title {
    font-size: 24px;
    text-transform: uppercase;
    font-family: var(--fonte-titulo);
    color: var(--cor-do-titulo);
    margin-bottom: 1em;
    font-weight: 400;
    margin: 1em 0 1em 6em;
}

.projects1__description{
    display: inline-block;
    margin-left: 5%;
    padding: 2% 2% 2% 2%;
}

.projects1-container{
    display: inline-block;
     margin: 3%;
    margin-left: 8%;
   gap: 15%;
   
}

.project1-info{
    display: inline-block;
    margin-left: 10%;
}

.projects{
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0%;
   
   
  
    
   
}
.project {
    display:inline-block;
    flex-direction: row;
    margin-left: 10%;
   
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px ;
    

    flex-grow: 2;
    flex-wrap: wrap;
}

.project1{
    display: inline-block;
    align-items: center;
    text-align: center;
   margin-left: 10%;
   margin-top: 3%;
   
    width: 400;
    height: 400px;
   
}
.projects1-container{
   
    align-items: center;
    text-align: center ;
    flex-wrap: wrap;
    gap: 10em;
    
    justify-content: space-evenly;
}
.project1-descriptionul{
 text-align: left;
}
.project1-descriptionli{
    text-align: left;
    align-items: baseline;
    font-size: 18px;
    font-family: var(--fonte-titulo);
    color: var(--cor-do-titulo);
   
    font-weight: 300;
    margin-right: 15% ;

}
.projects-container{
    margin-left: 10% ;
    gap: 15%;
}

.project-image {
width: 300px;
height: 200px;
border-radius: 5px;
border: 2px solid #BF5050;
}

.project:hover {
    transform: scale(1.1);
    transition: 0.5s;
   
    
}

.project-title {
    font-size: 20px;
    font-family: var(--fonte-titulo);
    color: var(--cor-do-titulo);
    text-align: center;
    font-weight: 300;
    margin-right: 15% ;
}
.project1-title {
    font-size: 20px;
    font-family: var(--fonte-titulo);
    color: var(--cor-do-titulo);
    text-align:center;
    font-weight: 300;
    margin-right: 15% ;
}
.project1-description{
    font-size: 18px;
    font-family: var(--fonte-titulo);
    color: var(--cor-do-titulo);
    text-align: left;
    font-weight: 300;
    
    margin-left: 3%;
}

.project-info {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    gap: 2.5em;
    font-weight: 100;
}

.project-link {
    display: inline;
    font-size: 19px;
    font-family: var(--fonte-titulo);
    font-weight: 600;
    color: var(--cor-do-titulo);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 12%;
    margin-right: 5%;
    text-align: center;
    height: 50px;
    width: 180px;
    background-color: #13141F;
    color: #D6FE7A;

}

.project-link:hover {
    color: var(--cor-do-titulo);
    transition: 0.5s;
    transform: scale(1.1);
    color:#BF5050;
   
}
.video{
  border: 2px solid #D6FE7A;
}

#localizacao{
    border: 3px solid #D6FE7A;
    width: 600px;
    height: 450px;
}

.contact {
    display: flex;

   
}

.contact-form {
    display: flex;
    align-items:center;
    text-align: center;
    margin-top: 2em;
   
    gap: 1em;
}

    
    .form {
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 1em;
        margin: 2em 6em;
        border: 2px solid #D6FE7A;
        border-radius: 15px;
        width: 500px;

    }

    .form input {
        width: 400px;
        height: 50px;
        border: none;
        border-bottom: 1px solid var(--cor-do-titulo);
        border-radius: 5px;
        font-family: var(--fonte-texto);
        font-size: var(--tamanho-do-texto);
    }

    .form textarea {
        width: 400px;
        height: 130px;
        border: none;
        border-bottom: 1px solid var(--cor-do-titulo);
        border-radius: 5px;
        font-size: var(--tamanho-do-texto);
        resize: none;
    }

    .form label {
        font-family: var(--fonte-titulo);
        font-size: 23px;
        color: var(--cor-do-titulo);
    }

    .form button {
        width: 100px;
        height: 40px;
        background-color: var(--cor-do-titulo);
        color: #BF5050;
        border: 2px solid var(--cor-de-fundo);
        border-radius: 5px;
        font-family: var(--fonte-titulo);
        font-size: 25px;
        cursor: pointer;
        margin-left: -0.5em;
        
    }

    .form button:hover {
        color: var(--cor-de-fundo);
        background-color:#BF5050;
        color: #D6FE7A;
        transition: 0.5s;
        transform: scale(1.1);
    }
    .button{
     margin:5%;
    }
 input:focus, textarea:focus {
        background: var(--cor-do-titulo);
        color: #13141F;
        }

    #localizacao{
       margin-left: 34%;
       font-size: 20px;
       font-family: var(--fonte-titulo);
       color: var(--cor-do-titulo);
       margin-top: 1em;
       margin-bottom: 1em;
       font-weight: 100;

    }

    
    /* footer */

    footer {
        display:flex;
        flex-direction: column;
        background-color: #13141F;
        justify-content:center;
        align-items: center;
        color: #D6FE7A;
        height: 180px;
        font-family: var(--fonte-titulo);
        font-size: 25px;
        font-weight: 600;
    }
 

    .fa-heart {
        color:#D6FE7A;
        font-size: 25px;
        
    }

    .fa-heart:hover {
        color: #BF5050;
        transition: 0.5s;
        transform: scale(1.1);
    }

    @media screen and (max-width: 768px) {
        .menu-nav {
            flex-wrap: wrap;
        }
        body {
          width: 100vw;
        }
        .main-title {
            font-size: 40px;
            width: 80%;
        }

        .main-text {
            width: 100%;
        }

        .skills-container {
            margin-left: 0;
            display: flex;
            align-items: center;
        }

        .skill-title {
            margin: 0.5em 0 1em 0;
        }

        .projects-container {
            margin: 0 auto;
            display: block;
            width: 60%;
        }

        .contact-container {
            margin-left: 0;
        }

        .form {
            margin-left: 0;
        }

        .fa-brands {
            font-size: 3em;
        }

        .skills {
            display: block;

        }

        .skills-container {
            flex-wrap: wrap;
            justify-content:space-between;
            align-items: center;
        }

        .skill-title {
            margin: auto;
            text-align: center;
        }
        #menu {
            display: block;
            position: absolute;
            width: 30%;
            top: 160px;
            left: 230px;
            background: transparent;
            height: 0px;
              font-weight: 900;
             
            transition: 0.5s;
            z-index: 1000;
            height: 0px;
            visibility: hidden;
            overflow-y: hidden;
                
          }
        .menu-item{
            background-color: #13141F;
        }
        
    }
   